[Desktop Entry]
Name=winPath Computer
Exec=nautilus --no-desktop  --no-default-window /computer/c/winpath/computerShortcut
Icon=/usr/share/icons/winpath.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Accessories;
Name[th]=วินพาธ:winPath
Comment=winPath: Wine path for linux
Comment[th]=ระบบไฟล์แบบไวน์บนระบบลินุกส์
