[Desktop Entry]
Name=winPath Generator
Exec=winpath
Icon=/usr/share/icons/winpath.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Accessories;
Name[th]=วินพาธ:winPath
Comment=winPath: Wine path for linux
Comment[th]=ระบบไฟล์แบบไวน์สำหรับระบบลินุกส์
